@import "tailwindcss";

body {
  color: white;
}

.btn_hover:hover {
  width: fit-content;
  background-color: purple;
  cursor: pointer;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
